{% extends "layout.html" %}
{% block content %}
    <h1>About car.t</h1>
    <p>For many Indians, owning a car is a dream, and more often than not, the easiest way for an
        average Indian family to achieve this, is by buying used cars. Our interest is in
        knowing the prices of used cars across the country, whether it is a royal luxury
        Sedan or a cheap budget utility vehicle. Using the history of sold cars, we shall
        provide the buyer with this price, ensuring that the buyer is not cheated by the
        seller.
        By providing information of the estimated price to
        both the buyer and seller, the hope is that a common middle ground is reached and
        both the parties walk away satisfied with the deal.

        Look out for the car.t verified sticker for amazing deals on used cars.
        
    </p>
    <img class="img-thumbnail" style="width: 600px; height: 350px" src="{{ url_for('static', filename='car_pics/' + 'default_car.jpg') }}">

{% endblock content %}
