{% extends "layout.html" %}
{% block content %}
  <article class="media content-section">
    <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="#">{{ post.author.username }}</a>
        <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
        
          <div>
            {% if post.author == current_user %}
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('update_post', post_id=post.id) }}">Update</a>
            <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
            {% endif %}
            {% if current_user.account_type != 'Seller' %}
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('notify_seller', post_id=post.id) }}">Interested</a>
            {% endif %}
          </div>
        
        
      </div>
      <h2 class="article-title">{{ post.title }}</h2>
      <p class="article-content">{{ post.content }}</p>
      <img class="img-thumbnail" style="width: 350px; height: 350px" src="{{ url_for('static', filename='car_pics/' + post.image_file) }}">
      <p class="<article-content">Location: {{ post.location }}</p>
      <p class="<article-content">Brand: {{ post.brand }}</p>
      <p class="<article-content">Year: {{ post.year }}</p>
      <p class="<article-content">kilometers_driven: {{ post.kilometers_driven }} km</p>
      <p class="<article-content">Fuel Type: {{ post.fuel_type }}</p>
      <p class="<article-content">Transmission: {{ post.transmission }}</p>
      <p class="<article-content">Owner Type: {{ post.owner_type }}</p>
      {% if post.fuel_type == 'CNG' %}
          <p class="<article-content">Mileage: {{ post.mileage }} km/kg</p>
      {% endif %}
      {% if post.fuel_type == 'LPG' %}
          <p class="<article-content">Mileage: {{ post.mileage }} km/kg</p>
      {% endif %}
      {% if post.fuel_type == 'Petrol' %}
          <p class="<article-content">Mileage: {{ post.mileage }} km/l</p>
      {% endif %}
      {% if post.fuel_type == 'Diesel' %}
          <p class="<article-content">Mileage: {{ post.mileage }} km/l</p>
      {% endif %}
      <p class="<article-content">Engine: {{ post.engine }} CC</p>
      <p class="<article-content">Power: {{ post.power }} bhp</p>
      <p class="<article-content">Seats: {{ post.seats }} seats</p>
      <p class="<article-content">Price: {{ post.price }} Lakhs</p>
      {% if post.deal_type == 'good' %}
          <h1 class="<article-content">car.t Verified! <img class="article-img" style="width: 60px; height: 60px" src="{{ url_for('static', filename='site_logos/' + 'verified.JPG') }}"> </h1>

      {% endif %}




      </article>"
    </div>
  </article>
  <!-- Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <form action="{{ url_for('delete_post', post_id=post.id) }}" method="POST">
            <input class="btn btn-danger" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
